<smallworld-header></smallworld-header>

<smallworld-dropdowns></smallworld-dropdowns>

<div class="main-div">
  <div class="main-div-div">
    <div class="main-div-div-div">
      <smallworld-aside></smallworld-aside>
    </div>
    <div class="main-div-content"> 
      <div class="main-div">
        <div class="main-div-div">
          <div class="main-div-div-div">
            <smallworld-maincontent></smallworld-maincontent>

          </div>
          <div class="main-div-content"> 
            <smallworld-searchresult></smallworld-searchresult>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
